$color-primary: #4b72e3;
$clr-light: #cccccc;
$clr-dark: #222;
$clr-accent: #F7F7FF;



:root {
    --clr-primary: #ee6352;
    --clr-secondary: #d16e8d;
    --clr-accent: #F7F7FF;
    --clr-gradient: linear-gradient(-90deg, var(--clr-primary), var(--clr-secondary));
    --ff-title: bungee, sans-serif;
    --ff-body: canada-type-gibson, sans-serif;
    --fw-body: 300;
    --fw-bold: 800;
    --fw-title: 400;
    --fw-number: 800;
}