*, *::before, *::after {
	box-sizing: border-box;
}
html, body{
    font-size: 100%;
    margin: 0 auto;
    padding: 0 1em;
    min-height: 100vh;
}

body{
    line-height: 1.6;
    overflow-x: hidden;
    font-family: $font_body;
    max-width: 914px;
    
    
}

img{
    max-width: 100%;
}

h1, h2, h3, p{
    max-width: 60ch;
}


.border-b{
    border-bottom-color: #cccccc;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
.border-t{
    border-top-color: #cccccc;
    border-top-style: solid;
    border-top-width: 1px;
}

.theme-light{
    background-color: $clr-light;
    color: $clr-dark;
}

.theme-dark{
    background-color: $clr-dark;
    color: $clr-light;
}

a{
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    transition: all 300ms;
    &:active{
        opacity: 0.5;
    }
    &:hover{
        // opacity: 0.5;
        transform: translateY(-5px);
    }
}