@import "fonts";
@import "colors";
@import "variables";
@import "functions";
@import "utilities";
@import "resets";
// @import "navigation";

aside{
    display: none;
}

body{
    min-height: 100vh;
    color: $clr-dark;
}

::-webkit-scrollbar {
    width: 10px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: darken($clr-accent, 8);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $clr-dark;
   
    border-radius: 5px;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: lighten($clr-dark, 15);
  }

header a{
    background-color: transparent;
    border: 2px solid $clr-dark;
    color: $clr-dark;
    border-radius: 5px;
    padding: 0.5em 1em;
    // height: fit-content;
    // padding: 0;
}
.generated{
    // width: 100%;
    min-height: 70vh;
    display: flex;
    gap: 1em;
    grid-template-columns: 1fr 1fr;
    transform: translateX(0px);
    transition: all 300ms;
    @include mq-under($breakpoint-tablet) {
        display: block;
    }
}


.generated.hidden{
    pointer-events: none;
    transform: translateY(100px);
    opacity: 0;


}
.generator_input{
    padding: 0.5em;
}

.code_container{
    // background-color: $clr-light;
    // overflow-x: scroll;
    overflow-x: auto;
    padding: 0.5em;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.code{
    font-size: smaller;
}

button{
    outline: none;
    background-color: $clr-dark;
    border: none;
    color: $clr-accent;
    padding: 0.5em 1em;
    margin: 0.5em 0;
    border-radius: 4px;
    // font-weight: bold;
    cursor: pointer;
    font-size: 1.2em;
}

iframe{
    height: 800px;
    width: clamp(300px, 20vw,600px);
}

