:root {
  --clr-primary: #ee6352;
  --clr-secondary: #d16e8d;
  --clr-accent: #F7F7FF;
  --clr-gradient: linear-gradient(-90deg, var(--clr-primary), var(--clr-secondary));
  --ff-title: bungee, sans-serif;
  --ff-body: canada-type-gibson, sans-serif;
  --fw-body: 300;
  --fw-bold: 800;
  --fw-title: 400;
  --fw-number: 800;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-d-c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.grid .span-12 {
  grid-column: span 12;
}

.grid .span-6 {
  grid-column: span 6;
}

.gap {
  gap: 1em;
}

@media screen and (max-width: 43em) {
  .hide-for-mobile {
    display: none;
  }
}

@media screen and (min-width: 82em) {
  .hide-for-desktop {
    display: none;
  }
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  font-size: 100%;
  margin: 0 auto;
  padding: 0 1em;
  min-height: 100vh;
}

body {
  line-height: 1.6;
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
  max-width: 914px;
}

img {
  max-width: 100%;
}

h1, h2, h3, p {
  max-width: 60ch;
}

.border-b {
  border-bottom-color: #cccccc;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.border-t {
  border-top-color: #cccccc;
  border-top-style: solid;
  border-top-width: 1px;
}

.theme-light {
  background-color: #cccccc;
  color: #222;
}

.theme-dark {
  background-color: #222;
  color: #cccccc;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

a:active {
  opacity: 0.5;
}

a:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

aside {
  display: none;
}

body {
  min-height: 100vh;
  color: #222;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ceceff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #222;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #484848;
}

header {
  text-align: center;
}

@media screen and (max-width: 62em) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 1em 0;
  }
}

header a {
  background-color: transparent;
  border: 2px solid #222;
  color: #222;
  border-radius: 5px;
  padding: 0.5em 1em;
}

.generated {
  min-height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

@media screen and (max-width: 62em) {
  .generated {
    display: block;
  }
}

.generated.hidden {
  pointer-events: none;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  opacity: 0;
}

.generator_input {
  padding: 0.5em;
}

.code_container {
  overflow-x: auto;
  padding: 0.5em;
  border-radius: 8px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.code {
  font-size: smaller;
}

button {
  outline: none;
  background-color: #222;
  border: none;
  color: #F7F7FF;
  padding: 0.5em 1em;
  margin: 0.5em 0;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.2em;
}

iframe {
  height: 400px;
  width: clamp(300px, 25vw, 600px);
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
/*# sourceMappingURL=main.css.map */